<a href="https://colab.research.google.com/github/edgebashir/1st/blob/main/N1_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Variables and assignment

In [ ]:
x = 5
y = 3.14
name = "Bashir"
name1 = "Borhan"
is_student = True

print(x)
print(y)
print(name)
print(name1)
print(is_student)

print("Type : ")
print(type(x))
print(type(y))

print("Type conversion ")
a = "123"
b = int(a)
print(type(b))

5
3.14
Bashir
Borhan
True
Type :
<class 'int'>
<class 'float'>
Type conversion
<class 'int'>